body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  color: #00698f;
}

p {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin-top: 0;
}